# Xcode / SPM
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.build/
.swiftpm/
Packages/
Package.resolved
*.xcodeproj
*.xcworkspace
!default.xcworkspace

# Build outputs
build/
temp_frameworks/
lib/
dist/
ThorVG.xcframework/
ThorVG.xcframework.zip
*.xcframework.zip

# OS
.DS_Store
**/.DS_Store

# Meson
meson-private/
meson-logs/
